version: '2'
services:
  services:
    image: jmcelwain/vielheit-services:latest
    volumes:
      - ./target/:/www/
    links:
      - postgres
      - neo4j
    ports:
      - "8080:8080"
    command: ["./wait-for-it.sh", "postgres:5432", "neo4j:7474", "-t", "20", "--", "java", "-jar", "./www/vielheit-services-0.0.1-SNAPSHOT.jar"]
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vielheit_development
  neo4j:
    image: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/neo4jdev