.home-container {
  display: flex;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.home-menu {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.home-title {
  flex-grow: 1;
}

.home-title-text {
  float: right;
  border-bottom: 1px dashed black;
}

